body{

    padding: 0px;

}

main {

    padding: 20px;

}

.colornav{

    background-color: pink;
    height: 70px;

}

.paddingNavbar{

height: 70px;
padding: 0px;

}

.espaciadoA{
font-size: 20px;
margin-right: 30px;

}

.espaciadoB{

font-size: 20px;
margin-right: 40px;
}

.oferta{

margin-top: 40px;
margin-bottom: 60px;
text-align: center;

}
.carousel-item img { width: 100%; height: auto; }


.centrado{

display: flex;
justify-content: center;
align-items: center;


}


.ColorPag{

background-color:aliceblue;

}

#bordegris{

    padding-left: 10px;
    padding-right: 10px;

}

#titulodecoracion{

    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

#Imgcontacto img{

width: 100%;

}

#Imgcontacto .centrado{

    display: flex;
    justify-content: center;
    align-items: center;


}

#espimg{



text-align: center;

margin-bottom: 50px;

}


.espimg2{

margin-bottom: 50px;

}

.colorfooter{

background-color: pink;

padding: 12px;

}

.Lineagris{

   width: 100%;
    border-top: 1px solid #999;


}


.espaciado{

font-size: 1.3em;
margin-top: 40px;
margin-bottom: 10px;
}


.espBajo{

    margin-bottom: 40px;

}


.parrafocentrado{

text-align: center;

margin-top: 30px;
margin-bottom: 30px;

}


.itemtitulo{

text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.itemDescripcion{

    text-align: center;

}

.boton{

display: flex;

}


.cardtamano {
    max-width: 350px;
    margin: auto;
    padding: 10px;

}
