body{

    padding: 0px;

}

main {

    padding: 20px;

}

.colornav{

    background-color: pink;
    height: 90px;

}

.paddingNavbar{

height: 70px;
padding: 0px;

}

.espaciadoA{
font-size: 20px;
margin-right: 30px;

}

.espaciadoB{

font-size: 20px;
margin-right: 40px;
}

.oferta{

margin-top: 40px;
margin-bottom: 60px;
text-align: center;

}
.carousel-item img { width: 100%; height: auto; }


.centrado{

display: flex;
justify-content: center;
align-items: center;


}


.ColorPag{

background-color:aliceblue;

}

#bordegris{

    padding-left: 10px;
    padding-right: 10px;

}

#titulodecoracion{

    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

#Imgcontacto img{

width: 100%;

}

#Imgcontacto .centrado{

    display: flex;
    justify-content: center;
    align-items: center;


}

#espimg{



text-align: center;

margin-bottom: 50px;

}


.espimg2{

margin-bottom: 50px;

}

.colorfooter{

background-color: pink;

padding: 12px;

}

.Lineagris{

   width: 100%;
    border-top: 1px solid #999;


}


.espaciado{

font-size: 1.3em;
margin-top: 40px;
margin-bottom: 10px;
}


.espBajo{

    margin-bottom: 40px;

}


.parrafocentrado{

text-align: center;

margin-top: 30px;
margin-bottom: 30px;

}


.itemtitulo{

text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}

.itemDescripcion{

    text-align: center;

}

.boton{

display: flex;

}


.cardtamano {
    max-width: 350px;
    margin: auto;
    padding: 10px;
    background-color: bisque;
    border-radius: 10px;
    border: solid 3px black;

}


.espaciado{

    margin-bottom: 50px;
    text-align: center;

}


.espacioini{

margin-bottom: 30px;


}

.cc{

background-color:bisque;

}

.letrasini{font-size: 1.4em;}


.hovernav:hover{

color: white !important;

}


.navbar-nav .nav-link.active {
    color: white !important;
}


.ColorPagContacto{

padding: 0px !important;

background-color:bisque;

}


.LogoEspacio{

    margin-top: 40px;
    margin-bottom: 20px;

}

.botonTamano{

    margin-top: 5px;
    width: 100%;
    max-width: 150px;
    height: 50px;


}


.tamanoinp{

    width: 100%;
    max-width: 350px;
    height: 40px;

}

/* Media queries para el boton de iniciar sesión, esto asegura que quede centrado con respecto a los inputs y en caso de resoluciones menores a 1000px asegura que esten centrados en la pantalla sin padding.  */


@media (min-width: 991px) {
    .padding-izquierda {
        padding-left: 100px;
    }
}

@media (max-width: 990.98px) {
    .padding-izquierda {
        padding-left: 12px;
        margin-bottom: 20px;
    }
}


@media (min-width: 990px){
.padding-derecha{

    padding-right: 100px;


}
}

@media (max-width: 989.98px){

    .padding-derecha{

        padding-right: 12px;


    }

}

/* Centra el enlace registrarse con respecto al boton iniciar sesión. */

.registrarse {
    display: flex;
    justify-content: center;
    align-items: center;

}


#imagenabout{

    margin-top: 100px;
    margin-bottom: 150px;
    width: 100%; height: auto;
    }


.bordesimgsabout{

        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden;

        }



.subtituloabout{
            text-align: center;
            margin-top: 40px;
        margin-bottom: 30px;
        }


 #imagenresponsive{

     margin-top: 40px;

}

.margininferior{margin-bottom: 50px;}


.margenesLaterales{

margin-left: 10px;
margin-right: 10px;

}

.tituloabout{

    margin-top: 20px;
    margin-bottom: 70px;
text-align: center;
}

.contenidoDespues{

margin-top: 100px;
margin-bottom: 150px;
text-align: center;
font-size: 5em;
}


.margenesbtn{

    margin-top: 17px;
margin-left: 30px;

}

.tamanoinput{

max-width: 500px;

}

.formulariotamano{

    width: 500px;

}


.espaciobtnvolver{

margin-top: 50px;

}

.tamanobtnvolver{width: 100px;}


.bordesproduct{

    border-width: 2px;
    border-style:  double;
    border-color: black;


}

.centradobtncompra{

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 40px;
}

.imgcentrada{

display: flex;
justify-content:center;
align-items: center;
}

.margenessuperiores{

text-align: center;
margin-top: 70px;

}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #f2f2f2;
    padding: 8px;
    caption-side: top;
    text-align: center;
    border: 1px, double, #ccc;
border-bottom: none;
}

table {

    text-align: center;
    border: 1px, double, #ccc !important;

}


.texto{font-size: 1rem;}

.textocentrado{

justify-content: center;
text-align: center;

}

.tituloimagenesproducto{

text-align: center;
margin-top: 85px;
margin-bottom: 85px;

}

.titulodescripcion{

margin-top: 100px;

}

#marginsuperior{

    margin-top: 40px;

}


#margeneselectra{

    font-size: 1.3em;
    margin-top: 70px;
    margin-bottom: 70px;
text-align: center;
}

#bordetitulo{

    text-align: center;
    border-bottom: 2px double #ccc !important;

}

.bordeseccionimgs{

border: 5px solid black;
background-color: bisque;
border-radius: 10px;

}


.imgmargeninferior{

    margin-top: 100px;
margin-bottom: 100px;

}

.bordesimagenes{

border: 4px solid black;
border-radius: 10px;

}

.centrado2{
display: flex;
justify-content: center;
}

.tituloProducto{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;

}

.tablausuario{

margin-bottom: 70px;

}

.ColorBotonVerde{


        background-color: #028a09;
        color: white;


}

.ColorBotonVerde:hover {
    background-color: #00ff15;
    border-color: #000000;
    color: black;
}

.espacioParrafoCarrito{
    margin-top: 50px;
margin-bottom: 70px;

}


.btncomprar{

    width: 100%;

}

.espaciadoabout{


margin-bottom: 30px;

}

.bg-pink{

background-color: pink;

}


.hoverdropitems:hover{

    color: rgb(254, 3, 3) !important;
    background-color: pink !important;
    }
